.logo {
 width: 280px !important;
}

.title{
  display: flex;
}

.pic{
  background: no-repeat center/150% url('../../../public/img/logo.jpg');
  width: 150px;
  height:100px;
  margin-left: 900px;
}

.titleName{
  color: #5c5c5c;
}

nav{
  width: auto;
  justify-content: center;
  padding: 0;
  background-color: #DAAD36
}

.nav ul {
  display: flex;
  list-style-type: none;
  margin: auto;
  justify-content: center;
  padding: 0;
}

.link{
  padding-right: 100px;
}

* {box-sizing: border-box;}
.form {
  position: relative;
  width: 300px;
  margin: 0 auto;
  height: 42px;
}
.input {
  height: 42px;
  width: 0;
  padding: 0 42px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: .4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.input:focus {
  width: 300px;
  z-index: 1;
  border-bottom: 2px solid #F9F0DA;
}
.btn {
  background: #683B4D;
  border: none;
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.btn:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}
