
.logoImg{
  width: 80%;
  height: 80%;
  border-radius: 20%;

}
.logo{
  max-width: 150px;
  background-color:#D2B48C;
}
.cart{
  max-width: 50px;
  max-height: 50px;
}
.logoFlex{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color:#D2B48C;
}
li{
  display: flex;
  align-items: center;
}
