@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


body {
  height: 100%;
  font-family: 'Comfortaa', cursive;
  /* background: linear-gradient(0deg, rgb(195, 223, 205) 2%, rgb(140, 144, 138) 69%, rgb(48, 49, 46)); */
  /* background-repeat: no-repeat; */
  /* background-size: auto; */
}
