.order_flex {
  display: flex;
}

.order {
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: #d8a158;
  box-shadow: 0 -3px rgb(238, 214, 119) inset;
  transition: 0.2s;
}
.order:hover { background: #e6c269 }

.order:active {
  background: #DEB887;
  box-shadow: 0 3px rgb(238, 214, 119) inset;
}
