.cartCard{
  background:#DEB887;
  display:flex;
  margin: 20px;
  border-radius: 10px;
}
.button {
  border-radius: 10px;
  display: block;
  border: none;
  background-color: #D2B48C;
  padding: 14px 28px;
  font-size: 1rem;
  text-align: center;
}
.cartP{
  width:210px;
  padding:10px;
}
.btn{
  padding:10px;
  display:flex;
  width:210px;
}
.cartB{
  display: flex;
  justify-content: center;
  align-items: center;
  height:25px;
  width: 30px;
  text-align: center;
}
